*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    margin: auto;
}

.container {
    background-color: #0D1326;
    height: 50px;
    max-width: 2000px;
}

.back{
    color: darkgray; 
    display: flex;
    float: left;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.4s ease-in-out;
    cursor: pointer;
    opacity: .8;
    font-size: 17px;
    margin-top: 15px;
    
}

.left {
    font-weight: 900;
    font-size: 30px;
    margin-right: 10px;
    vertical-align: middle;
    display: flex;
}


.back:hover {
    color:  white;
}

.back2 {
    position: relative;
    top:5px;
}

.download {
    float: right;
    text-decoration: none;
    display: flex;
    margin-right: 20px;
    margin-top: 15px;
    color: darkgray;
    opacity: .8;
    cursor: pointer;
    transition: color 0.4s ease-in-out;
}

.down {
    margin-right: 10px;
    margin-top: 2px;

}

.download:hover {
    color: white;
}

.download-img {
    vertical-align: middle;
    height: 20px;
    margin-right: 10px;
}

.buy {
    text-decoration: none;
    float: right;
    display: flex;
    margin-top: 15px;
    margin-right: 15px;
    color: darkgray;
    opacity: .8;
    cursor: pointer;
    transition: color 0.4s ease-in-out;

}

.buy:hover {
    color: white;
}

.cart {
    margin-right: 10px;
    margin-top: 2px;
    color: blue;
}

.forest {
    width: 100%;
    height: 652px;
}

.middle1 {
    position: absolute;
    bottom: 450px;
    margin-left: 200px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    display:flex;
    font-size: 17px;
    font-family: Lato, sans-serif;
}

.explore, .amplify {
    margin-left: 40px;
}

.middle2 {
    display: flex;
    position: absolute;
    color: white;
    bottom: 390px;
    margin-left: 200px;
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 32px;
    }
    
    .nature {
        margin-left: 5px;
        color: rgb(34, 208, 149);
        text-shadow: 5px 4px 3px black;
    }
    
    .gibrish {
        position: absolute;
        color: white;
        bottom: 310px;
        margin-left: 200px;
        font-family: Lato, sans-serif;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px
    }    

    
.middle3 {
    position: absolute;
    color: white;
    margin-left: 235px;
    bottom: 260px;
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    display: flex;
}

.bla1 {
    font-size: 40px;
    cursor: pointer;
}

.bla2 {
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
}

.bla1:active {
    font-size: 30px;
}

.bla2:active {
    font-size: 40px;
}
